.image1{
    margin: 65px 30px 0px 125px;
}

.searchbar{
    margin: -100px 30px 0px 450px;
    width: 400;
    height: 40;
    opacity: 0.4;
    border: 2px;
    border-color:black;
    
}

.searchButton{
    margin: -100px 30px 0px 850px;
    width: 80;
    height: 40;
    background: #5C535D;
    border: none;

}

.image2{
    margin: -125px 0px 0px 1250px;
}

.yazi1{
    color:black;
    margin: -125px 0px 0px 1270px;
    cursor:pointer;

}

.image3{
    margin: 19px 0px 0px 881px;
    position: absolute;
}

.uyeGirisi{
    margin: 19px 0px 0px 1100px;
}

.yazi2{
    color:black;
    margin: -19px 0px 0px 1225px;

}

.yazi3{
    color:black;
    margin: -17px 0px 0px 1130px;

}

.image4{
    margin: -17px 0px 0px 1350px;
}

.image5{
    margin: -30px 0px 0px 1362px;
}

.image6{
    margin: -24px 0px 0px 1343px;
}

.shopping-cart-number{
    margin: -40px 0px 0px 1366px;
    color: white;
}