.image1 {
    margin: 65px 30px 0px 125px;
}

.searchbar {
    margin: -100px 30px 0px 450px;
    width: 400;
    height: 40;
    opacity: 0.4;
    border: 2px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-right-width: 0;
}

.searchButton {
    margin: -100px 30px 0px 850px;
    width: 80;
    height: 40;
    background: #5C535D;
    border: none;
}

.image2 {
    margin: -125px 0px 0px 1250px;
}

.yazi1 {
    color: black;
    margin: -125px 0px 0px 1270px;
}

.image3 {
    margin: 19px 0px 0px 881px;
    position: absolute;
}

.uyeGirisi {
    margin: 19px 0px 0px 1100px;
}

.yazi2 {
    color: black;
    margin: -19px 0px 0px 1225px;
}

.yazi3 {
    color: black;
    margin: -17px 0px 0px 1130px;
}

.image4 {
    margin: -17px 0px 0px 1350px;
}

.image5 {
    margin: -30px 0px 0px 1362px;
}

.image6 {
    margin: -24px 0px 0px 1343px;
}

.shopping-cart-number {
    margin: -40px 0px 0px 1366px;
    color: white;
}

.nav1 {
    background: #5C535D;
    height: 50px;
    margin: 150px 0px 0px 0px;
}

.nav2 {
    margin: 50px 0px 0px 144px;
}

.li1 {
    height: 25px;
    background: #F776C4;
    border: none;
    color: white;
    font: bold;
    padding-top: 15px;
}

.kategoriler {
    position: absolute;
    margin: 16px 0px 0px 25px;
    cursor: pointer;
}

.a {
    color: white;
    font-weight: bold;
    padding: 45px;
}

.a1 {
    color: black;
    font-size: 14;
    padding: 10px;
}

.ul1 {
    margin: -25px 0px 0px 250px;
    width: 200;
}

.a2 {
    color: black;
    font-size: 11;
    padding: 20px;
}

.konum1 {
    margin: -234px 0px 0px 260px;
    border-style: solid;
    border-left-width: 2px;
    border-top-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-color: #F776C4;
    position: absolute;
    visibility: hidden;
}

.a1:hover {
    color: #F776C4;
}

.a1:hover + .konum1 {
    visibility: visible;
}

.a2:hover {
    color: #F776C4;
}

.konum2 {
    margin: -113px 0px 0px 260px;
    border-style: solid;
    border-left-width: 2px;
    border-top-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-color: #F776C4;
    position: absolute;
    visibility: hidden;
}

.konum3 {
    margin: -420px 0px 0px 260px;
    border-style: solid;
    border-left-width: 2px;
    border-top-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-color: #F776C4;
    position: absolute;
    visibility: hidden;
}

.konum4 {
    margin: -28px 0px 0px 260px;
    border-style: solid;
    border-left-width: 2px;
    border-top-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-color: #F776C4;
    position: absolute;
    visibility: hidden;
}

.konum5 {
    margin: -38px 0px 0px 260px;
    border-style: solid;
    border-left-width: 2px;
    border-top-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-color: #F776C4;
    position: absolute;
    visibility: hidden;
}

.li2 {
    border-top-width: 0;
    border-bottom-width: 0;
}

.konum6 {
    margin: -579px 0px 0px 495px;
    border-style: solid;
    border-left-width: 2px;
    border-top-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-color: #F776C4;
    position: absolute;
    visibility: hidden;
}

.konum7 {
    margin: -37px 0px 0px 495px;
    border-style: solid;
    border-left-width: 2px;
    border-top-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-color: #F776C4;
    position: absolute;
    visibility: hidden;
}

.konum8 {
    margin: -84px 0px 0px 495px;
    border-style: solid;
    border-left-width: 2px;
    border-top-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-color: #F776C4;
    position: absolute;
    visibility: hidden;
}

.ar1 {
    margin: -22px 0px 0px 230px;
    width: 7px;
    height: 7px;
}

.ar2 {
    margin: -25px 0px 0px 230px;
    width: 6px;
    height: 6px;
}

.ar3 {
    margin: -25px 0px 0px 230px;
    width: 6px;
    height: 6px;
}

.ar4 {
    margin: -25px 0px 0px 230px;
    width: 6px;
    height: 6px;
}

.ar5 {
    margin: -60px 0px 0px 230px;
    width: 6px;
    height: 6px;
}

.ar6 {
    margin: -25px 0px 0px 200px;
    width: 6px;
    height: 6px;
}

.ar7 {
    margin: -25px 0px 0px 200px;
    width: 6px;
    height: 6px;
}

.ar8 {
    margin: -60px 0px 0px 200px;
    width: 6px;
    height: 6px;
}

.ar9 {
    margin: -216px 0px 0px 250px;
    width: 13px;
    height: 13px;
    position: absolute;
    opacity: 0;
}

.ar10 {
    margin: -98px 0px 0px 250px;
    width: 13px;
    height: 13px;
    position: absolute;
    opacity: 0;
}

.ar11 {
    margin: -405px 0px 0px 252px;
    width: 12px;
    height: 12px;
    position: absolute;
    opacity: 0;
}

.ar12 {
    margin: 15px 0px 0px 250px;
    width: 13px;
    height: 13px;
    position: absolute;
    opacity: 0;
}

.ar13 {
    margin: -20px 0px 0px 250px;
    width: 13px;
    height: 13px;
    position: absolute;
    opacity: 0;
}

.ar14 {
    margin: -565px 0px 0px 487px;
    width: 12px;
    height: 12px;
    position: absolute;
    opacity: 0;
}

.ar15 {
    margin: -25px 0px 0px 487px;
    width: 12px;
    height: 12px;
    position: absolute;
    opacity: 0;
}

.ar16 {
    margin: -75px 0px 0px 487px;
    width: 12px;
    height: 12px;
    position: absolute;
    opacity: 0;
}

.slideshow_img1 {
    margin: 0px 0px 0px 420px;
    width: 60%;
    height: 340px;
    position: absolute;
    visibility: visible;
}

.slideshow_img2 {
    margin: 0px 0px 0px 420px;
    width: 60%;
    height: 340px;
    position: absolute;
    visibility: hidden;
}

.bebekurunleri_img {
    margin: 340px 0px 0px 160;
    width: 42%;
    position: absolute;
}

.anneurunleri_img {
    margin: 340px 0px 0px 815px;
    width: 34%;
    position: absolute;
}

.kategoriAdi {
    font-weight: bold;
    font-size: 20;
    margin: 0px 0px 0px 20px;
}

.li0 {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
    background: white;
    width: 1250px;
    height: 630px;
    margin: 800px 200px 0px 120px;
}

.kategoriadi {
    margin: 30px 0px 0px 8px;
}

.markalar {
    font-weight: bold;
    font-size: 20;
    margin: 0px 0px 0px 120px;
}

.urunler {
    margin: 40px 0px 0px 0px;
}

.p1 {
    color: white;
    background: #F776C4;
    width: 55;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 20px 0px 0px 120px;
}

.p2 {
    color: white;
    background: #43A610;
    width: 100;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 5px 0px 0px 120px;
}

.urun1_img {
    width: 300px;
    height: 300px;
    margin: 0px 0px 0px 120px;
    padding-left: 15px;
}

.urun1_isim {
    margin: 50px 0px 0px 120px;
    color: #575757;
}

.urun1_p {
    margin: 20px 0px 0px 120px;
}

.urun1_fiyat {
    color: #F776C4;
    font-size: 24;
    margin: 10px 0px 40px 120px;
}

.urun1_sepet {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 186px;
    visibility: hidden;
    position: absolute;
}

.urun1_favori {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 270px;
    visibility: hidden;
    position: absolute;
}

.urun1_incele {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 344px;
    visibility: hidden;
    position: absolute;
}

.urun2_img {
    width: 300px;
    height: 300px;
    margin: -5px 0px 0px 470px;
    padding-left: 15px;
}

.urun2_isim {
    margin: 0px 0px 0px 470px;
    color: #575757;
}

.urun2_p {
    margin: 20px 0px 0px 470px;
}

.urun2_fiyat {
    color: #F776C4;
    font-size: 24;
    margin: 10px 0px 40px 470px;
}

.urun2_sepet {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 536px;
    visibility: hidden;
    position: absolute;
}

.urun2_favori {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 620px;
    visibility: hidden;
    position: absolute;
}

.urun2_incele {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 694px;
    visibility: hidden;
    position: absolute;
}

.p3 {
    color: white;
    background: #F776C4;
    width: 55;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: -595px 0px 0px 470px;
}

.p4 {
    color: white;
    background: #43A610;
    width: 100;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 10px 0px 0px 470px;
}

.urun3_img {
    width: 300px;
    height: 300px;
    margin: 25px 0px 0px 820px;
    padding-left: 15px;
}

.urun3_isim {
    margin: 0px 0px 0px 820px;
    color: #575757;
}

.urun3_p {
    margin: 20px 0px 0px 820px;
}

.urun3_fiyat {
    color: #F776C4;
    font-size: 24;
    margin: 10px 0px 40px 820px;
}

.urun3_sepet {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 886px;
    visibility: hidden;
    position: absolute;
}

.urun3_favori {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 970px;
    visibility: hidden;
    position: absolute;
}

.urun3_incele {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 1040px;
    visibility: hidden;
    position: absolute;
}

.p5 {
    color: white;
    background: #F776C4;
    width: 55;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: -595px 0px 0px 820px;
}

.p6 {
    color: white;
    background: #43A610;
    width: 100;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 10px 0px 0px 820px;
}

.urun4_img {
    width: 300px;
    height: 300px;
    margin: 25px 0px 0px 1170px;
    padding-left: 15px;
}

.urun4_isim {
    margin: 0px 0px 0px 1170px;
    color: #575757;
}

.urun4_p {
    margin: 20px 0px 0px 1170px;
}

.urun4_fiyat {
    color: #F776C4;
    font-size: 24;
    margin: 10px 0px 40px 1170px;
}

.urun4_sepet {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 1236px;
    visibility: hidden;
    position: visible;
}

.urun4_favori {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 1320px;
    visibility: hidden;
    position: absolute;
}

.urun4_incele {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 1394px;
    visibility: hidden;
    position: absolute;
}

.p7 {
    color: white;
    background: #F776C4;
    width: 55;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: -595px 0px 0px 1170px;
}

.p8 {
    color: white;
    background: #43A610;
    width: 100;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 10px 0px 0px 1170px;
}

.p9 {
    color: white;
    background: #F776C4;
    width: 55;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 20px 0px 0px 120px;
}

.p10 {
    color: white;
    background: #43A610;
    width: 100;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 5px 0px 0px 120px;
}

.urun5_img {
    width: 300px;
    height: 300px;
    margin: 0px 0px 0px 120px;
    padding-left: 15px;
}

.urun5_isim {
    margin: 50px 0px 0px 120px;
    color: #575757;
}

.urun5_p {
    margin: 20px 0px 0px 120px;
}

.urun5_fiyat {
    color: #F776C4;
    font-size: 24;
    margin: 10px 0px 40px 120px;
}

.urun5_sepet {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 186px;
    visibility: hidden;
    position: absolute;
}

.urun5_favori {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 270px;
    visibility: hidden;
    position: absolute;
}

.urun5_incele {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 344px;
    visibility: hidden;
    position: absolute;
}

.urun6_img {
    width: 300px;
    height: 300px;
    margin: -5px 0px 0px 470px;
    padding-left: 15px;
}

.urun6_isim {
    margin: 0px 0px 0px 470px;
    color: #575757;
}

.urun6_p {
    margin: 20px 0px 0px 470px;
}

.urun6_fiyat {
    color: #F776C4;
    font-size: 24;
    margin: 10px 0px 40px 470px;
}

.urun6_sepet {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 536px;
    visibility: hidden;
    position: absolute;
}

.urun6_favori {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 620px;
    visibility: hidden;
    position: absolute;
}

.urun6_incele {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 694px;
    visibility: hidden;
    position: absolute;
}

.p11 {
    color: white;
    background: #F776C4;
    width: 55;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: -595px 0px 0px 470px;
}

.p12 {
    color: white;
    background: #43A610;
    width: 100;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 10px 0px 0px 470px;
}

.urun7_img {
    width: 300px;
    height: 300px;
    margin: 25px 0px 0px 820px;
    padding-left: 15px;
}

.urun7_isim {
    margin: 0px 0px 0px 820px;
    color: #575757;
}

.urun7_p {
    margin: 20px 0px 0px 820px;
}

.urun7_fiyat {
    color: #F776C4;
    font-size: 24;
    margin: 10px 0px 40px 820px;
}

.urun7_sepet {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 886px;
    visibility: hidden;
    position: absolute;
}

.urun7_favori {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 970px;
    visibility: hidden;
    position: absolute;
}

.urun7_incele {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 1040px;
    visibility: hidden;
    position: absolute;
}

.p13 {
    color: white;
    background: #F776C4;
    width: 55;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: -595px 0px 0px 820px;
}

.p14 {
    color: white;
    background: #43A610;
    width: 100;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 10px 0px 0px 820px;
}

.urun8_img {
    width: 300px;
    height: 300px;
    margin: 25px 0px 0px 1170px;
    padding-left: 15px;
}

.urun8_isim {
    margin: 0px 0px 0px 1170px;
    color: #575757;
}

.urun8_p {
    margin: 20px 0px 0px 1170px;
}

.urun8_fiyat {
    color: #F776C4;
    font-size: 24;
    margin: 10px 0px 40px 1170px;
}

.urun8_sepet {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 1236px;
    visibility: hidden;
    position: visible;
}

.urun8_favori {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 1320px;
    visibility: hidden;
    position: absolute;
}

.urun8_incele {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 1394px;
    visibility: hidden;
    position: absolute;
}

.p15 {
    color: white;
    background: #F776C4;
    width: 55;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: -595px 0px 0px 1170px;
}

.p16 {
    color: white;
    background: #43A610;
    width: 100;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 10px 0px 0px 1170px;
}

.p17 {
    color: white;
    background: #F776C4;
    width: 55;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 20px 0px 0px 120px;
}

.p18 {
    color: white;
    background: #43A610;
    width: 100;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 5px 0px 0px 120px;
}

.urun9_img {
    width: 300px;
    height: 300px;
    margin: 0px 0px 0px 120px;
    padding-left: 15px;
}

.urun9_isim {
    margin: 50px 0px 0px 120px;
    color: #575757;
}

.urun9_p {
    margin: 20px 0px 0px 120px;
}

.urun9_fiyat {
    color: #F776C4;
    font-size: 24;
    margin: 10px 0px 40px 120px;
}

.urun9_sepet {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 186px;
    visibility: hidden;
    position: absolute;
}

.urun9_favori {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 270px;
    visibility: hidden;
    position: absolute;
}

.urun9_incele {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 344px;
    visibility: hidden;
    position: absolute;
}

.urun10_img {
    width: 300px;
    height: 300px;
    margin: -5px 0px 0px 470px;
    padding-left: 15px;
}

.urun10_isim {
    margin: 0px 0px 0px 470px;
    color: #575757;
}

.urun10_p {
    margin: 20px 0px 0px 470px;
}

.urun10_fiyat {
    color: #F776C4;
    font-size: 24;
    margin: 10px 0px 40px 470px;
}

.urun10_sepet {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 536px;
    visibility: hidden;
    position: absolute;
}

.urun10_favori {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 620px;
    visibility: hidden;
    position: absolute;
}

.urun10_incele {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 694px;
    visibility: hidden;
    position: absolute;
}

.p19 {
    color: white;
    background: #F776C4;
    width: 55;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: -595px 0px 0px 470px;
}

.p20 {
    color: white;
    background: #43A610;
    width: 100;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 10px 0px 0px 470px;
}

.urun11_img {
    width: 300px;
    height: 300px;
    margin: 25px 0px 0px 820px;
    padding-left: 15px;
}

.urun11_isim {
    margin: 0px 0px 0px 820px;
    color: #575757;
}

.urun11_p {
    margin: 20px 0px 0px 820px;
}

.urun11_fiyat {
    color: #F776C4;
    font-size: 24;
    margin: 10px 0px 40px 820px;
}

.urun11_sepet {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 886px;
    visibility: hidden;
    position: absolute;
}

.urun11_favori {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 970px;
    visibility: hidden;
    position: absolute;
}

.urun11_incele {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 1040px;
    visibility: hidden;
    position: absolute;
}

.p21 {
    color: white;
    background: #F776C4;
    width: 55;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: -595px 0px 0px 820px;
}

.p22 {
    color: white;
    background: #43A610;
    width: 100;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 10px 0px 0px 820px;
}

.urun12_img {
    width: 300px;
    height: 300px;
    margin: 25px 0px 0px 1170px;
    padding-left: 15px;
}

.urun12_isim {
    margin: 0px 0px 0px 1170px;
    color: #575757;
}

.urun12_p {
    margin: 20px 0px 0px 1170px;
}

.urun12_fiyat {
    color: #F776C4;
    font-size: 24;
    margin: 10px 0px 40px 1170px;
}

.urun12_sepet {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 1236px;
    visibility: hidden;
    position: visible;
}

.urun12_favori {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 1320px;
    visibility: hidden;
    position: absolute;
}

.urun12_incele {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 1394px;
    visibility: hidden;
    position: absolute;
}

.p23 {
    color: white;
    background: #F776C4;
    width: 55;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: -595px 0px 0px 1170px;
}

.p24 {
    color: white;
    background: #43A610;
    width: 100;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 10px 0px 0px 1170px;
}

.p25 {
    color: white;
    background: #F776C4;
    width: 55;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 20px 0px 0px 120px;
}

.p26 {
    color: white;
    background: #43A610;
    width: 100;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 5px 0px 0px 120px;
}

.urun13_img {
    width: 300px;
    height: 300px;
    margin: 0px 0px 0px 120px;
    padding-left: 15px;
}

.urun13_isim {
    margin: 50px 0px 0px 120px;
    color: #575757;
}

.urun13_p {
    margin: 20px 0px 0px 120px;
}

.urun13_fiyat {
    color: #F776C4;
    font-size: 24;
    margin: 10px 0px 40px 120px;
}

.urun13_sepet {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 186px;
    visibility: hidden;
    position: absolute;
}

.urun13_favori {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 270px;
    visibility: hidden;
    position: absolute;
}

.urun13_incele {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 344px;
    visibility: hidden;
    position: absolute;
}

.urun14_img {
    width: 300px;
    height: 300px;
    margin: -5px 0px 0px 470px;
    padding-left: 15px;
}

.urun14_isim {
    margin: 0px 0px 0px 470px;
    color: #575757;
}

.urun14_p {
    margin: 20px 0px 0px 470px;
}

.urun14_fiyat {
    color: #F776C4;
    font-size: 24;
    margin: 10px 0px 40px 470px;
}

.urun14_sepet {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 536px;
    visibility: hidden;
    position: absolute;
}

.urun14_favori {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 620px;
    visibility: hidden;
    position: absolute;
}

.urun14_incele {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 694px;
    visibility: hidden;
    position: absolute;
}

.p27 {
    color: white;
    background: #F776C4;
    width: 55;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: -595px 0px 0px 470px;
}

.p28 {
    color: white;
    background: #43A610;
    width: 100;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 10px 0px 0px 470px;
}

.urun15_img {
    width: 300px;
    height: 300px;
    margin: 25px 0px 0px 820px;
    padding-left: 15px;
}

.urun15_isim {
    margin: 0px 0px 0px 820px;
    color: #575757;
}

.urun15_p {
    margin: 20px 0px 0px 820px;
}

.urun15_fiyat {
    color: #F776C4;
    font-size: 24;
    margin: 10px 0px 40px 820px;
}

.urun15_sepet {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 886px;
    visibility: hidden;
    position: absolute;
}

.urun15_favori {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 970px;
    visibility: hidden;
    position: absolute;
}

.urun15_incele {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 1040px;
    visibility: hidden;
    position: absolute;
}

.p29 {
    color: white;
    background: #F776C4;
    width: 55;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: -595px 0px 0px 820px;
}

.p30 {
    color: white;
    background: #43A610;
    width: 100;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 10px 0px 0px 820px;
}

.urun16_img {
    width: 300px;
    height: 300px;
    margin: 25px 0px 0px 1170px;
    padding-left: 15px;
}

.urun16_isim {
    margin: 0px 0px 0px 1170px;
    color: #575757;
}

.urun16_p {
    margin: 20px 0px 0px 1170px;
}

.urun16_fiyat {
    color: #F776C4;
    font-size: 24;
    margin: 10px 0px 40px 1170px;
}

.urun16_sepet {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 1236px;
    visibility: hidden;
    position: visible;
}

.urun16_favori {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 1320px;
    visibility: hidden;
    position: absolute;
}

.urun16_incele {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 1394px;
    visibility: hidden;
    position: absolute;
}

.p31 {
    color: white;
    background: #F776C4;
    width: 55;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: -595px 0px 0px 1170px;
}

.p32 {
    color: white;
    background: #43A610;
    width: 100;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 10px 0px 0px 1170px;
}

.p1s {
    color: white;
    background: #F776C4;
    width: 55;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 55px 0px 0px 20px;
    font-size: 16;
    font-weight: normal;
}

.p2s {
    color: white;
    background: #43A610;
    width: 100;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 10px 0px 0px 20px;
    font-size: 16;
    font-weight: normal;
}

.urun1s_img {
    width: 200px;
    height: 200px;
    margin: 0px 0px 0px 20px;
    padding-left: 15px;
}

.urun1s_isim {
    margin: 50px 0px 0px 20px;
    color: #575757;
    font-size: 12;
}

.urun1s_p {
    margin: 20px 0px 0px 20px;
    font-size: 16;
}

.urun1s_fiyat {
    color: #F776C4;
    font-size: 24;
    margin: 10px 0px 40px 20px;
}

.urun1s_sepet {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 186px;
    visibility: hidden;
    position: absolute;
}

.urun1s_favori {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 270px;
    visibility: hidden;
    position: absolute;
}

.urun1s_incele {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 344px;
    visibility: hidden;
    position: absolute;
}

.urun2s_img {
    width: 200px;
    height: 200px;
    margin: -5px 0px 0px 300px;
    padding-left: 15px;
}

.urun2s_isim {
    margin: 0px 0px 0px 300px;
    color: #575757;
    font-size: 12;
}

.urun2s_p {
    margin: 20px 0px 0px 300px;
    font-size: 16;
}

.urun2s_fiyat {
    color: #F776C4;
    font-size: 24;
    margin: 10px 0px 40px 300px;
}

.urun2s_sepet {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 536px;
    visibility: hidden;
    position: absolute;
}

.urun2s_favori {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 620px;
    visibility: hidden;
    position: absolute;
}

.urun2s_incele {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 694px;
    visibility: hidden;
    position: absolute;
}

.p3s {
    color: white;
    background: #F776C4;
    width: 55;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: -500px 0px 0px 300px;
    font-size: 14;
    font-weight: normal;
}

.p4s {
    color: white;
    background: #43A610;
    width: 100;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 10px 0px 0px 300px;
    font-size: 14;
    font-weight: normal;
}

.urun3s_img {
    width: 200px;
    height: 200px;
    margin: 35px 0px 0px 600px;
    padding-left: 15px;
}

.urun3s_isim {
    margin: 0px 0px 0px 600px;
    color: #575757;
    font-size: 12;
}

.urun3s_p {
    margin: 20px 0px 0px 600px;
    font-size: 16;
}

.urun3s_fiyat {
    color: #F776C4;
    font-size: 24;
    margin: 10px 0px 40px 600px;
}

.urun3s_sepet {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 886px;
    visibility: hidden;
    position: absolute;
}

.urun3s_favori {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 970px;
    visibility: hidden;
    position: absolute;
}

.urun3s_incele {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 1040px;
    visibility: hidden;
    position: absolute;
}

.p5s {
    color: white;
    background: #F776C4;
    width: 55;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: -505px 0px 0px 600px;
    font-size: 16;
    font-weight: normal;
}

.p6s {
    color: white;
    background: #43A610;
    width: 100;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 10px 0px 0px 600px;
    font-size: 16;
    font-weight: normal;
}

.urun4s_img {
    width: 200px;
    height: 200px;
    margin: 25px 0px 0px 900px;
    padding-left: 15px;
}

.urun4s_isim {
    margin: 0px 0px 0px 900px;
    color: #575757;
    font-size: 12;
}

.urun4s_p {
    margin: 20px 0px 0px 900px;
    font-size: 16;
}

.urun4s_fiyat {
    color: #F776C4;
    font-size: 24;
    margin: 10px 0px 40px 900px;
}

.urun4s_sepet {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 1236px;
    visibility: hidden;
    position: visible;
}

.urun4s_favori {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 1320px;
    visibility: hidden;
    position: absolute;
}

.urun4s_incele {
    width: 35;
    height: 35;
    margin: -153px 0px 0px 1394px;
    visibility: hidden;
    position: absolute;
}

.p7s {
    color: white;
    background: #F776C4;
    width: 55;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: -505px 0px 0px 900px;
    font-size: 14;
    font-weight: normal;
}

.p8s {
    color: white;
    background: #43A610;
    width: 100;
    height: 25;
    text-align: center;
    padding-top: 3;
    margin: 10px 0px 0px 900px;
    font-size: 14;
    font-weight: normal;
}

.ticiFooterContent ul {
    margin: 0;
    padding: 0
}

.ticiFooterContent * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.ticiFooterContent .img-responsive {
    min-width: 100%;
    max-width: 100%
}

.ticiFooterCenter {
    background-color: #000;
    padding: 40px 0
}

.ticiFooterBottom {
    background-color: #000;
    border-top: 1px solid #3b3b3b
}

.ticiFooterContent li {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.ticiFooterContent .footerRow {
    margin-left: -15px;
    margin-right: -15px
}

.ticiFooterContent .footerRow:After {
    clear: both;
    display: table;
    content: ""
}

.ticiFooterContent .footerCol {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    position: relative;
    min-height: 1px
}

.ticiFooterContent .footerCol {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    position: relative;
    min-height: 1px
}

.ticiFooterContent .footerCol.f-col-4 {
    width: 33.333333333%
}

.ticiFooterContent .footerCol.f-col-3 {
    width: 25%
}

.ticiFooterContent .footerCol.f-col-8 {
    width: 66.66666666%
}

.ticiFooterContent .footerCol.f-col-12 {
    width: 100%
}

.ticiFooterContent .fRight {
    float: right
}

.footerLogo {
    display: block;
    text-align: center;
    margin: 20px 0
}

.footerSosyalMedya {
    width: 100%;
    text-align: center;
    margin-bottom: 20px
}

.footerSosyalMedya a {
    display: inline-block;
    margin: 0 10px;
    color: #5f5f5f;
    font-size: 18px
}

.footerSosyalMedya a:hover {
    color: #616c70
}

.ticiFooterContent .ticiFooterMenu h3 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    padding: 0
}

.ticiFooterContent .ticiFooterMenu h3 span {
    float: left
}

.ticiFooterContent .ticiFooterMenu h3 span:before {
    font-size: 20px;
    line-height: 15px
}

.ticiFooterContent .ticiFooterMenu ul.List:After {
    clear: both;
    display: table;
    content: ""
}

.ticiFooterContent .ticiFooterMenu ul.List.FooterSocial li {
    width: 50%;
    float: left
}

.ticiFooterContent .ticiFooterMenu ul.List li.Item {
    margin-bottom: 5px
}

.ticiFooterContent .ticiFooterMenu ul.List li.Item a.Link {
    color: #fff;
    font-size: 13px;
    padding: 0;
    font-weight: normal;
    line-height: 23px;
    width: 100%;
    text-decoration: none
}

.ticiFooterContent .ticiFooterMenu ul.List li.Item a.Link:hover {
    text-decoration: underline!important
}

.ticiFooterContent .ticiFooterMenu ul.List.FooterSocial li.Item a.Link i {
    width: 20px;
    height: 23px;
    line-height: 23px;
    text-align: left;
    font-size: 16px;
    margin-right: 5px
}

.ticiFooterContent .ticiFooterMenu ul.List.FooterApp li.Item a.Link i {
    font-size: 18px;
    line-height: 23px;
    float: left;
    margin-right: 5px
}

.ticiFooterContent .ticiBankaLogo {
    padding: 30px 0;
    width: 100%;
    text-align: left;
    float: left
}

.ticiFooterContent .ticiCopyDiv {
    padding: 35px 0;
    text-align: right;
    font-size: 12px;
    color: #fff
}

.ticiFooterContent .ticiSeoText {
    font-size: 10px;
    margin-top: 20px;
    color: #b7b7b7;
    text-align: center
}

.ticiFooterContent .ticiBulten {
    display: block;
    margin: 0 auto;
    max-width: 490px;
    text-align: left
}

.ticiFooterContent .ticiBulten:After {
    clear: both;
    display: table;
    content: ""
}

.ticiFooterContent .ticiBulten h2 {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff
}

.ticiFooterContent .ticiBulten p {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    margin-top: 10px
}

.ticiFooterContent .ticiBultenContent {
    float: left;
    width: 100%;
    margin-top: 10px
}

.ticiFooterContent #divNewsLetter {
    display: block;
    padding: 0;
    margin: 0;
    float: right;
    position: relative;
    width: 100%
}

.ticiFooterContent #divNewsLetter label {
    display: none
}

.ticiFooterContent #UpdatePanel1 {
    position: relative;
    float: right;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0
}

.ticiFooterContent #txtbxNewsletterMail {
    display: inline-block;
    color: #999;
    background: #fff;
    border: 1px solid #e0e0e0;
    width: 100%;
    height: 36px;
    padding: 0 120px 0 10px;
    font-size: 13px;
    text-align: left;
    font-weight: normal;
    border-radius: 0;
    opacity: 1
}

.ticiFooterContent #txtbxNewsletterMail::-webkit-input-placeholder {
    color: #999
}

.ticiFooterContent #txtbxNewsletterMail:-moz-placeholder {
    color: #999
}

.ticiFooterContent #txtbxNewsletterMail::-moz-placeholder {
    color: #999
}

.ticiFooterContent #txtbxNewsletterMail:-ms-input-placeholder {
    color: #999
}

.ticiFooterContent #txtbxNewsletterMail:focus {
    color: #999
}

.ticiFooterContent #btnMailKaydet {
    float: right;
    position: absolute;
    top: 3px;
    right: 6px;
    width: auto!important;
    height: 30px;
    text-transform: uppercase;
    color: #000!important;
    border: none!important;
    border-radius: 0;
    line-height: 30px;
    background: #fff!important;
    font-weight: normal;
    font-size: 12px!important;
    padding: 0;
    text-align: center
}

.ticiFooterContent #btnMailKaydet:hover {
    background: #000!important;
    color: #fff!important
}

.ticiFooterContent .ebultenGelecek #divNewsLetter {
    display: block;
    padding: 0
}

@media (max-width:768px) {
    .ticiFooterContent {
        margin: 0 15px
    }
    .ticiFooterCenter {
        background-color: #000;
        padding: 0 0
    }
    .ticiFooterBottom {
        background-color: #000;
        border-top: 1px solid #3b3b3b
    }
    .ticiFooterContent .footerCol.f-col-2 {
        width: 100%
    }
    .ticiFooterContent .footerCol.f-col-3 {
        width: 100%
    }
    .ticiFooterContent .footerCol.f-col-4 {
        width: 100%
    }
    .ticiFooterContent .footerCol.f-col-xs-12 {
        width: 100%
    }
    .fRight {
        float: none
    }
    .ticiFooterContent .ticiBankaLogo {
        text-align: center
    }
    .ticiFooterContent .ticiCopyDiv {
        text-align: center
    }
    .ticiFooterContent .ticiFooterMenu .footerCol .fmenu-wrap {
        border: 1px solid #3b3b3b;
        margin-bottom: -1px
    }
    .ticiFooterContent .ticiFooterMenu .footerCol:last-child .fmenu-wrap {
        margin-bottom: 0
    }
    .ticiFooterContent .ticiFooterMenu .footerCol h3 {
        line-height: 30px;
        position: relative;
        text-align: left;
        padding-left: 10px;
        margin-bottom: 0;
        font-size: 12px
    }
    .ticiFooterContent .ticiFooterMenu .footerCol h3 span:before {
        font-size: 12px!important;
        line-height: 30px
    }
    .ticiFooterContent .ticiFooterMenu .footerCol.active h3 {
        border-bottom: 1px solid #3b3b3b
    }
    .ticiFooterContent .ticiFooterMenu .footerCol h3:after {
        content: '+';
        position: absolute;
        right: 0;
        width: 30px;
        text-align: center
    }
    .ticiFooterContent .ticiFooterMenu .footerCol.active h3:after {
        content: '-'
    }
    .ticiFooterContent .ticiFooterMenu ul.List {
        display: none;
        margin: 10px 0
    }
    .ticiFooterContent .ticiFooterMenu ul.List li.Item a.Link {
        padding: 0;
        font-size: 12px;
        text-align: left;
        display: block;
        padding-left: 10px;
        line-height: 20px
    }
    .ticiFooterContent .ticiFooterMenu .footerCol.active ul.List {
        display: block
    }
    .ticiFooterContent .ticiBulten {
        margin: 10px
    }
    .ticiFooterContent .ticiBulten h2 {
        font-size: 12px
    }
}

.img1{
    margin: 140px 0px 0px 450px;
    position:absolute;
}

.img2{
    margin: 140px 0px 0px 1250px;
    position:absolute;
}

.img3{
    margin: -285px 0px 0px 0px;
    position:absolute;
}

.img4{
    margin: -285px 0px 0px 1150px;
    position:absolute;
}